<div fxLayout="column" fxFlexFill>
  <div class="header"></div>
  <mat-toolbar color="primary" class="fixed-navbar mat-elevation-z10">
    <mat-toolbar-row>
      <h1 class="title"><span class="color">ZSOL</span>TECH</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div>
        <a mat-button [routerLink]="'/'"> Főoldal </a>
        <a mat-button [routerLink]="'/posts'"> Bejegyzések </a>
        <a mat-button [routerLink]="'/users'"> Felhasználók </a>
      </div>

      <span class="fill-space"></span>

      <!-- <div>
        <a mat-button> English </a>
        <a mat-button> Magyar </a>
      </div> -->
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container" fxFlex fxLayout="row" fxLayoutAlign="center none">
    <div class="content" fxFlex="50">
      <router-outlet></router-outlet>
    </div>
  </div>

  <mat-toolbar color="primary" class="fixed-navbar mat-elevation-z10">
    <mat-toolbar-row>
      <p class="footer"> © {{year}} <a href="mailto:zsoltech@pm.me">zsoltech</a></p>
    </mat-toolbar-row>
  </mat-toolbar>
</div>